:root {
    --color-primario: #f2f2f2;
  --color-secundario: #E5E5E5;
  --color-acento: #6c8fb8;
  --color-fondo: #E5E5E5;
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;
    --text-font: 'Roboto', sans-serif;
    --otra-font: 'Lato', sans-serif;
      
}







*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

body{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    height: fit-content;
    background-color: var(--color-primario);
    scroll-behavior: smooth;

}

header{
    background-color:var(--color-primario);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main_div_header{
    display: flex;
    flex-direction: column;
    background-color: var(--color-primario);
    justify-content: space-between;
    width: 100%;
}

#main_nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:var(--color-primario);
    height: fit-content;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 11px;
    margin-left: 3%;
}

#tittle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    text-align: center;
    margin-top: 20px;
}

#titulo2{
    display: flex;
    color: var(--color-acento);
    font-style: italic;
    font-weight: bold;

}

#titulo{
    text-align: center;
    color: var(--color-acento);
    display: flex;
    font-size:  3rem;
    font-weight:550;
    /*font-style: italic;*/
    word-spacing: 5px;
    /*
    word-wrap: break-wo rd;
    word-break: break-all;
    */
    text-shadow: 12px 12px 22px var(--color-acento);
    
    
    font-family: var(--primary-font)
   

}

.img_container{
    display: flex;
    flex-direction: column;
    background-color: var(--color-primario);
    justify-content: center;
    align-items: center;
    width: fit-content;
 
}

#foto{
    display: flex;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    margin: 20px;
    margin-top: 2%;
    background-color: var(--color-primario);
    border-style: outset;
    border-color:var(--color-acento)
}

.link_container{
    display: flex;
    background-color: var(--color-acento);
    padding: 17px;
    margin-block: 10px  ;
    border-radius: 25px;
    border-color: var(--color-secundario);
}

.link:hover{
    color: var(--color-secundario   );
}

.link{
    padding: 10px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 1.1em;
    font-family: var(--secondary-font)

}

#nombre{
    display: flex;
    font-size: 2em;
    font-weight: bolder;
    font-family: var(--otra-font);
}



/* HEADER TERMINADO */



/* MAIN COMIENZO */


#main_main{
    display: flex;
    flex-direction:row;
    background-color: var(--color-secundario);

    padding-left: 2%    ;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-inline: 5% ;
    border-radius: 25px;
    justify-content: center;
    align-items: center ;

}


#datos{

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color:var(--color-secundario);   
    padding-inline: 0px  ;
    padding-block: 1% ; 
    justify-self: center;
    align-self: center;


}

.dato{
    color: white    ;
    display: flex;
    justify-content: center;
    background-color: var(--color-acento);
    padding-inline: 10px;
    padding-block: 5px;
    font-size: 1.2em;
    border-radius:3%;
    margin: 3.5% ;
    font-family: var(--otra-font);
    
    
}

.data_div{
    margin: 0;
    padding: 0;
}

#article{
    display: flex;
    flex-direction: column;
    background-color: var(--color-secundario);
    border-radius: 50px;
    width: fit-content;
    box-shadow: 2px 2px 12px var(--color-acento);
 
}

.parrafo{
    margin: top 6%;
    border-radius: 3px;
    background-color: var(--color-primario);
    font-family: var(--text-font);
    padding: 0.5%;
    color: black;
    display: flex;
    flex-wrap: wrap;
    padding-block: 0.7%;
    width: fit-content;
    font-size: 1.2em;
    margin-left: 3%;
    margin-right: 3%;
    border-style: ridge;
    border-color: var(--color-acento);
    border-radius: 50px;
    padding: 3%;
    box-shadow: 15px 15px 15px var(--color-acento);
}

#buscotitulo{
    font-size: 2.5em;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 12px 12px 12px rgb(31, 29, 29);
    margin-top: 120px;
}


/*  SECCIONES  */

.secciones{
    display: flex;
    flex-direction: column ;
    background-color: var(--color-secundario);
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center  ;
    align-items: center;
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 15px;
    margin-bottom: 5%;
   
}


.seccion{
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: var(--color-primario);
        margin-top: 5%;
        margin-inline: 2% ;
        align-items: center;
        height: fit-content;
        padding: 2%;
        width: 60%;
        margin-bottom: 5%   ;

        border-style: ridge;
        border-color: var(--color-acento);
        

}


.seccion_tittle{
    display: flex;
    font-size: 2em;
    text-align: center;
    margin-bottom: 3.5%;
    text-decoration: underline;
    text-decoration-color: var(--color-acento   );
    max-width: fit-content;
    font-family: var(--primary-font);

}



#presentacion{

    display: flex;
    text-align: center;
    font-size: 1.2em;
    font-family: var(--text-font);

}


#lista_datos{
    display: flex;
    flex-direction: column;
    padding: 4%;
    font-family: var(--otra-font);
}

.data_item{
    padding: 4%;
    font-size: 1.1em; 
    font-family: var(--otra-font);  
}

.job1{
    display: flex;
    text-align: start;
    align-self: flex-start;
    font-size: 1.1em;
    font-family: var(--text-font);
}

#ingles{
    align-self: flex-start;
}

.seccion_tittle{
    align-self: center;
    justify-self: center;
    text-align: center;
    font-family: var(--primary-font);
}

#form_tittle{
    text-align: center;
    align-self: center;
    justify-self: center;
}

.ppp{
    list-style: none;
    margin: 0.7%;
    padding: 2%;
}

#bars_container{
    display: flex;
    width: 80%;
    margin: 0;
    padding: 2%;

    align-self: flex-start;
    justify-self: center;
    flex-direction: column;
}

.skill_name{
    margin: 5px;
}

.barra{
    background-color: var(--color-acento);
    display: flex;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
}

.barra span{
    height: 20px;
    float: left;
    background:linear-gradient(rgb(89, 89, 238), rgb(29, 80, 97));
}

.pythons{
    display: flex;
    background-color: blue;
    width: 60%;
}

.html{
    display: flex;
    background-color: blue;
    width: 40%;
}

.css{
    display: flex;
    background-color: blue;
    width: 45%;
}

.cpp{
    display: flex;
    background-color: blue;
    width: 15%;
}

.js{
    display: flex;
    background-color: blue;
    width: 35%;
}

.ingles{
    display: flex;
    background-color: blue;
    width: 75%;
}

.contacto_container{
    background-color: var(--color-secundario);
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center;
    margin-bottom: 2%;
    border: solid;
    border-radius: 10px;
    border-color: var(--color-acento);
    box-shadow: 22px 22px 30px var(--color-acento);
}

.contacto_tittle{
    font-size: 1.8em;
    align-self: center;
    justify-self: center;
    text-align:center;
    font-family: var(--primary-font);
    text-decoration: solid;
    text-decoration: underline;
    text-decoration-color: var(--color-acento);
    font-weight: 500;
    margin-inline: 6%   ;
    margin: 10%;
}

#nas{
    display: flex;
    flex-direction: column;
    margin: 3%;
    padding: 2%;
    margin-inline: 3% ;

}

.lista_cont{
    display: flex;
    padding-block: 3% ;
    font-size: 1.5em;
    font-family: var(--otra-font);
    text-align: center;
    align-self: center;
}

.ty{
    font-size: 1.6em;
    align-self: center;
    margin: 2%;
    color: black;
    font-family: var(--secondary-font);
    text-decoration: underline;
    text-decoration-color: var(--color-acento);
    text-align: center;
}





/*

@media screen and (min-width: 526px) and (max-width: 790px){

    header{
        display: flex;
        flex-direction: column;
    }

    .img_container{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center ;
        align-content: center;
    }

    #foto{
        height: 250px;
        width: 250px;
        margin: 0;
        margin-top: 5%;
        margin-left: 32%;
        padding: 0;
        justify-self: center;
        align-self: center;
    }









}
*/   


@media screen and (min-width: 526px) and (max-width: 900px){

    body{
        width: fit-content;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

   
    

    
/*
    #main_nav{
        margin-top: 5%;
        display: flex;
        flex-direction: column; 
        width: 50%;
        align-self: center;
    }

    #foto{
        display: flex   ;
    }

    #tittle{
        justify-content: center;
    }
    */
    #datos{
        
        width: 100%;
        flex-wrap: wrap;
        align-self: center;
        
     
        padding-block: 0.5% ;
        margin: 2%;
        
    }

    .data_div{
        align-self: center;
        width: 52%;
        padding-block: 2.2%;
    }


    .dato{
        padding: 5%;
        width: 100%;
        margin: 0.5%;
        align-self: center;
        justify-self: center;
    }

        
}
/*



    #main_main{
        display: flex;
        flex-direction:column;
        align-items: center;
        align-content: center;
        justify-content: center;    
    }
*/

    


/*
    .parrafo{
        width: fit-content;
        margin: 0;
        margin-inline: 5%   ;
        margin-top: 5%  ;
    }


    .secciones{
        display: flex;
        flex-direction: column ;
        background-color: rgb(196, 194, 194);
        
        align-self: center;
        justify-self: center;

        
        padding: 15;
        flex-wrap: wrap;
        justify-content: center  ;
        align-items: center;
        border-radius: 30px ;
    
       
    }
    
    
    .seccion{
            align-self: center;
            border-radius: 25px;
            display: grid;
            flex-direction: column;
            flex-wrap: wrap;
            background-color: rgb(250, 244, 244);
            margin-bottom: 25%;
            margin-inline: 10% ;
            align-items: center;
            height: fit-content;
            padding: 2%;
            width: 75%;
            
    
    }
    .seccion_tittle{
        align-self: center;
        justify-self: center;
    }
    
}












/*
@media only screen and (min-width: 10px) and (max-width: 400px) {


    #main_nav{
        display: flex;
        flex-direction: column;
        width: 400px;
        padding: 0;
        margin: 0;
    }

    .link_container{
        display: flex;
        width: 100%;
    }

    .link{
        display: flex;
        width: 100%;
    }
    
}
*/





/* CELULAR */

@media screen and (min-width:0px) and (max-width: 790px){

    body{
        background-color: var(--color-secundario);
        margin: 0;
        padding: 0;
        width: fit-content;
    }

    header{
        display: flex;
        flex-direction: column;
        width:fit-content;
        background:linear-gradient(rgb(224, 167, 61), rgb(243, 169, 32));
        margin-inline: 5%   ;
    }

    
    .img_container{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin: 0;
        padding: 0;
    }



    #titulo{
        margin-inline   : 4%;
        width: fit-content;
    }
    
    .main_div_header{
        width: 100%;
        margin: 0;
        padding: 0;
    }


    #main_nav{
        background-color: var(--color-secundario);
        margin-top: 5%;
        margin-left: 0;
        display: flex;
        flex-direction: column; 
        width: fit-content;
        align-self: center;
    }

    .link_container{
        display: flex;
        width: fit-content;
        text-align: center;
    }

    .link{
        display: flex;
        width: 100%;
    }


    #main_main{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }


    #datos{
        
        width: 100%;
        flex-wrap: wrap;
        align-self: center;
        
     
        padding-block: 0.5% ;
        margin: 2%;
        margin-bottom: 7%;
        margin-top: 7%;
        
    }

    .data_div{
        align-self: center;
        width: 52%;
        padding-block: 2.2%;
    }


    .dato{
        padding: 5%;
        width: 100%;
        margin: 0.5%;
        align-self: center;
        justify-self: center;
        
}   



    #article{
        margin: 0;
        align-self: center;
        justify-self: center;
        align-items: center;
        align-content: center;
        justify-content: center;
        
    }

    .parrafo{
        margin-right: 3%;
        width: fit-content;
        padding: 7%;
        box-shadow: none;
    }


    #buscotitulo{
        align-self: center;
    }


    .img_container{
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    #foto{
        justify-self: center;
        align-self: center;
    }

    .secciones{
        display: flex;
        flex-direction: column ;
        background-color: var(--color-secundario);
        width: 100%;
        align-self: center;
        justify-self: center;
        margin-top: 10%;
        
        padding: 15;
        flex-wrap: wrap;
        justify-content: center  ;
        align-items: center;
        border-radius: 30px ;
    
       
    }
    
    
    .seccion{
            border-radius: 25px;
            display: grid;
            flex-direction: column;
            flex-wrap: wrap;
            background-color: rgb(250, 244, 244);
            margin-bottom: 25%;
            margin-inline: 10% ;
            align-items: center;
            height: fit-content;
            padding: 2%;
            width: 75%;
            margin: 5%;
            
    
    }

    .contacto_container{
        border-radius: 15px;
        width: 65%;
        background-color: var(--color-primario);
    }

    .contacto_tittle{
        font-size: 1.4em;
    }

    .lista_cont{
        font-size: 1.2em;
    }

    .ty{
        font-size: 1.2em;
        text-align: center;
        padding: 10%;
    }


}

.buttons{
    display: flex;
    margin-top: 5%;
    width: 100%;
    align-items: center;
    justify-content: space-around;

}

.homepage{
    color: var(--color-acento);
    font-weight: 800;
    font-family: var(--otra-font);
}

.homepage:hover{
    color: rgb(45, 45, 248);
}


.flecha_atras{
    color: var(--color-acento);
    font-weight: 800;
    font-family: var(--otra-font);
}

.flecha_atras:hover{
    color: rgb(45, 45, 248);
}

.flecha_adelante{
    color: var(--color-acento);
    font-weight: 800;
    font-family: var(--otra-font);
}

.flecha_adelante:hover{
    color: rgb(45, 45, 248);
}



@media screen and (max-width: 410px){
    #dato1{
        display: none;
    }
}


@media screen and (max-width: 200px){
    #foto{
        width: 100px;
        height: 100px;
    }

    #dato1{
        display: none;
    }

}


@media screen and (max-width: 600px){
    .secciones{
        margin: 0;
        margin-top: 5%;
        padding: 0;
        width: 100%;
        align-content: center;
    
    }

    .seccion{
        width: 90%;
    }
}

/*
@media screen and (min-width: 0px) and (max-width: 400px){

    body{
        width: fit-content;
    }


    #main_main{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #datos{
        background-color: red;
        width: 100%;
    }

    .dato{
        background-color: aquamarine;
        width: 100%;
    }

    .parrafo{
        width: 100%;
    }


}
*/


/* DATOS PERSONALES */


