html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}

.divtitu{
    margin: 0;
    display: flex;
    flex-direction: column;
    background:linear-gradient(orange,rgb(241, 202, 142));
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}

.titulo-links{
    display: flex;
    justify-content: center;
    background-color: rgb(252, 180, 85);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 3em;
    text-decoration: overline;
    width: 100%;
}

.listasitems{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background:linear-gradient(rgb(231, 166, 44),rgb(212, 182, 126));
    height: 100%;
    width: 98%;
    
}

.elementoslista{
    background-color: rgb(240, 157, 79);
    display: flex;
    margin-top: 55px;
    flex-wrap: wrap;
    width: fit-content;
    flex-direction: column;
    font-size: 2rem;
}

.footer{
    margin: 0;
    background-color: rgb(250, 211, 138);
    position: sticky;
    bottom: 0;
    width: 100%;
}

.divfooter{
    height: 50px;
    background-color: rgb(224, 157, 80);
}

.linkcontact{
    margin-top: 0;
    text-align: start;
    font-size: 1.2em;
    color: white;
}

#reffooter{
    color: white;
}

#boton{
    color: white;
    display: flex;
    position: absolute;
    padding: 15px 25px;
    background-color: rgb(172, 110, 17);
    border-radius: 130px;
    width: 85px;
    height: 45px;
    justify-content: center;
    right: 30px;
    bottom: 30px;
}

.botonsiguiente{
    color: white;
    padding: 15px 25px;
    position: absolute;
    top: 35;
    right: 2;
    background-color: rgb(185, 98, 16);
    border-radius: 130px;
}


.botonatras{
    color: white;
    padding: 15px 25px;
    position: absolute;
    top: 35;
    left: 2;
    background-color: rgb(185, 98, 16);
    border-radius: 130px;
}


@media screen and (min-width: 0px) and (max-width: 1030px) {

    main{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    body{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #boton, .botonatras, .botonsiguiente{
        display: none;
    }
    
    #footer{
        background-color: rgb(250, 211, 138);
        position: sticky;
        bottom: 0;
        width: 100%;
    }
    

}

@media screen and (min-width: 0px) and (max-width: 600px) {
        .listasitems{
            width: 100%;
            margin-left: 0;
            padding: 0;
        }

        .divtitu{
            width: fit-content;
        }

        .elementoslista{
            width: fit-content;
        }

    

}

@media screen and (min-width: 0px) and (max-width: 400px) {

    #botdiv{
        display: none;
    }

    #boton{
        display: none;
    }

    body{
        height: fit-content;
        overflow-y: scroll;
    }

    body{
        background-color: rgb(236, 248, 125);
    }

    main{
        height: fit-content;
        background-color: rgb(252, 221, 138);
    }

    .listasitems{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        padding: 0;
    }

    .divtitu{
        background-color: black;
        display: flex;
        width: fit-content;
        height: fit-content;
    }

    .elementoslista{
        width: fit-content;
    }


    .footer{
        background-color: rgb(250, 211, 138);
        position: sticky;
        bottom: 0;
        width: 100%;
    }
    
    .divfooter{
        height: 40px;
        background-color: rgb(224, 157, 80);
        width: 100%;
    }
    
    .linkcontact{
        margin-top: auto;
        text-align: start;
        font-size: 1.2em;
        color: white;
    }
    
    #reffooter{
        color: white;
    }


}


