html, body{
    margin: 0;
    padding: 0;
}

body{
    background:linear-gradient(orange,yellow);  
    min-height: 100vh;
    
}

.divtitu{
    margin: 0;
    display: flex;
    flex-direction: column;
    background:linear-gradient(orange,rgb(146, 90, 5));
    width: 100%;
}

.titulo-links{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    background-color: rgb(252, 180, 85);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 3em;
    text-decoration: overline;
    width: 100%;
}

.divtitu2{
    background-color: orange;
    padding: 5px;
}

.titu2

#list{}

.listasitems{
    background:linear-gradient(rgb(231, 166, 44),rgb(212, 182, 126));
    width: 100%;
}

.elementoslista{
    background-color: rgb(241, 175, 74);
    display: flex;
    margin-top: 35px;
    flex-wrap: wrap;
    width: fit-content;
    flex-direction: column;
    font-size: 1.6rem;
}

.footer{
    display: flex;
    justify-content: start;
    background-color: rgb(250, 211, 138);
    position: sticky;
    top: 500111px;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
}

.divfooter{
    width: 100%;
    position: absolute;
    margin-bottom: 0;
    bottom: 0;
    background-color: rgb(224, 157, 80);
}

.linkcontact{
    text-align: start;
    font-size: 1.2em;
    color: white;
}

#reffooter{
    color: white;
}

#boton3{
    color: white;
    display: flex;
    position: absolute;
    padding: 15px 25px;
    background-color: rgb(172, 110, 17);
    border-radius: 130px;
    width: 85px;
    height: 45px;
    justify-content: center;
    right: 30px;
    bottom: 320px;
}

#h2decomp{
    background-color: orange;
}

.botonsiguiente{
    color: white;
    padding: 15px 25px;
    position: absolute;
    top: 20;
    right: 2;
    background-color: rgb(185, 98, 16);
    border-radius: 130px;
}


.botonatras{
    color: white;
    padding: 15px 25px;
    position: absolute;
    top: 20;
    left: 2;
    background-color: rgb(185, 98, 16);
    border-radius: 130px;
}

.titu3{
    background-color: rgb(240, 186, 87);
}

@media screen and (min-width: 0px) and (max-width: 1030px) {

    main{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    body{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #boton3, .botonatras, .botonsiguiente{
        display: none;
    }
    
    .footer{
        background-color: rgb(250, 211, 138);
        position: sticky;
        bottom: 0;
        width: 100%;
        margin-top: 55px;
    }
    
    .divfooter{
        width: 100%;
        position: absolute;
        margin-bottom: 0;
        bottom: 0;
        background-color: rgb(224, 157, 80);
        
    }
    

}